    <nav>
        <div class="center-text">
            <img src="/images/polyhydra-icon.jpg" alt="logo">
            <h1>Messenger App<h1>
        </div>
        <form action="" method="post">
            <input type="search" name="search" placeholder="Search mail">
        </form>
        <div class="rel">
            <div class="center-text">
                <img src="/images/polyhydra-icon.jpg" alt="profile-img">
                <p>Username</p>
            </div>
            <div class="cont hidden">
                <a href="/profile">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    
 
