<%- include("partials/header"); %>
    <%- include("partials/navbar"); %>
    <div class="container">
        <ul class="sidebar">
            <a href="/inbox">Inbox</a>
            <a href="/outbox">Outbox</a>
            <a href="/compose">Compose</a>
        </ul>
    </div>

<%- include("partials/footer"); %>